[submodule "submodules/playdotfun"]
	path = submodules/playdotfun
	url = https://github.com/playdotfun/skills.git
[submodule "skills/sub-games"]
	path = skills/sub-games
	url = git@github.com:subdotgames/skills
